@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,);
*{
    box-sizing: border-box;
    margin:0 ;
    padding:0;
}
body{
    background: #f9f9f9;
    font:13px/21px'Open Sans', sans-serif;
}
nav{
    margin-top: 40px;
}
ul{
    list-style: none;
}
.clear-fix:after{
    content: "";
    display: block;
    clear: both;
}
.Cont{
    background: white;
    width: 1060px;
    margin: 0 auto;
    padding: 51px 47px 60px;
    box-shadow:0 -5px 5px rgba(0,0,0, .3) ;
}
.nav-menu{
    background: #000000;
}
.nav-menu__item:hover {
    background-color: #3f3f3f;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.nav-menu__link{
    display: block;
    padding: 0 24px ;
    color: #fff;
    padding: 9px 24px 10px;
    text-decoration: none;
}
.nav-menu__item{
    float: left;
}

.left-menu__link {
    display: block;
    padding: 0 24px;
    color: #656363;
    padding: 9px 24px 10px;
    text-decoration: none;
    border: 1px solid #c8c8c8;
    width: 238px;
}
.left-menu {
    width: 240px;
    padding-top: 40px;
    float: left;

}
.left-menu__link:hover{
    background-color:#f9f9f9;
    color:black;
    padding-left: 40px;
}

.Photo{
    width: 675px;
    border: 1px solid #c8c8c8;
}
p{
    margin-top: 40px;
    float: right;
}
.Right {
    float: right;
    margin-top: 40px;
    width: 675px;
}
.nav{
    margin-top: 40px;
}
.foot-menu{
    background: #e1e1e1;
    margin-top: 40px;
}
.foot-menu__link{
    display: block;
    padding: 0 24px ;
    color: black;
    padding: 9px 24px 10px;
    text-decoration: none;
}
.foot-menu__item{
    float: left;
}
.foot-menu__item:hover{
text-decoration: underline;
}
.foot-menu__item1{
    float: right;
}
.foot-menu__item1:hover{
    text-decoration: underline;
}
